body{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #009975;
}
.contenedorNET{
    margin: 10px auto;
    width: 60%;
   
    display: flex;
    align-items: unset;
    justify-content: center;   
}

.container__fluid{
    
    margin: 0;
    padding: 0;
   
}

.padreProducto{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* no-grap achica los items para acomodarlos en el mismo espacio */
    justify-content: center;
    box-sizing: border-box;
   
    
}



hr{
    width: 95%;
}

.logo{
    margin-top: 20px;
    /* opacity: 0.1;
    filter: grayscale(100%); */
    padding-left: 12%;
    padding-right: 12%;
}

.titulo{
    margin-top: -20px;
    margin-left: -15px;
    display: inline-block;
    text-align: center;
    
}


.navbar{
    background-color: #454d66;
    
}




.padre{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* no-grap achica los items para acomodarlos en el mismo espacio */
    justify-content: stretch;
    box-sizing: border-box;
    margin-top: 40px;
}


.padre2{
   
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* no-grap achica los items para acomodarlos en el mismo espacio */
    justify-content: flex-start;
    box-sizing: border-box;
}

.hijo{
   
    flex: 1 1 auto ;
    

}

.hijo2{
    margin-bottom: 10px;
}

.contenedorRecomendados{
   padding-left: 40px;
}

.recomendado{

  
    padding: 0;
    width: 33%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px ;
   
   }

  

.card{

    width: 48%;
    margin: 5px;
    border-radius: 0;
}

.tarjeta{
    
    background-color: aqua;
}

.historia{
 
background-color: #58b368;
padding: 10px;
box-sizing: border-box;
border: solid 15px  #009975;

 
 
}

.aside{
    
    width: 96%;
    margin-right: 10;
    margin-top: 45px;
    padding: 5px;
}




.footer{
     
   
    display: flex;
    justify-content: space-around;
    background-color: #fff591 ;
    text-align: center;
    margin-top: 30px;
    width: 100%;
    bottom: 0px;
   
  
   
}

.rrss{
    
    width: 40px;
    padding-top: 20px;
}


.btn{
    background-color: aqua;
    border-radius: 25vw;
    margin-bottom: 10px;
}



@media (max-width: 1080px) { 
    .contenedorNET{
        margin-left: 15px;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
         
    }

    body{

        width:93vw
    }
    
    .navbar{
        
        width:100.40vw;
        margin-bottom: 20px;
        
        
    }

    .logo{
        
        margin-top: 25px;
        padding-left: 23%;
        padding-right: 23%;
       /* al agregar widht se corre del medio */
        /* width: 300px; */
        
       
        
    }
    .navbar-nav{

        margin-top: 5px;
        
        
    }

    .padre{

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        margin-left: 4.5vw;
        
    }

    .padre2{
   
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        
    }
    .padre3{
   
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      
       
    }

    .padreProducto{
   
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* no-grap achica los items para acomodarlos en el mismo espacio */
        justify-content: stretch;
        box-sizing: border-box;
       
        
    }
    
    .hijo{
        /*funciona con el padre y padre2 */
        flex: 1 1 auto ;    
    
    }

    .hijo2{
        /*funciona con el padre3 */
        width: 47.62428%;
        margin: 3px;
        padding: 0;
        
    } 
    

    .navbar-toggler{
        
        border: none;
        margin-left: -16px;

    }

    .card{
    
        width: 100%;
        
    
    }

    .recomendado{
        margin: 0;
        margin-left: 1%;
        margin-bottom: 5px;
        padding: 0;
        width: 48%;
        height: 200px;
        object-fit: cover;

       
    }

    .historia{
       
        margin-top: 25px;
        border: none;
        margin-left: 20px;
    }

    .aside{
    
        width: 90%;
        margin-left: 30px;
        background-color: orangered;
    
    }
    
    .footer{

        width:100vw;
        
    }

    
    

    
}